/* CSS Reset */
* {
margin: 0;
padding: 0;
font-family: "Open Sans", Arial;
}

.header {
    background-color: blueviolet;
    /* largura */
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.header .header-logo {
    width: 200px;
}

.header .header-btn {
    width: 40px;
    /* jogar a direita da tela */
    float: right;
    margin: 10px;
}